<%= form_for(@service_line) do |f| %>
  <% if @service_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_line.errors.count, "error") %> prohibited this service_line from being saved:</h2>

      <ul>
      <% @service_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hour %><br>
    <%= f.text_field :hour %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :Ticket_id %><br>
    <%= f.text_field :Ticket_id %>
  </div>
  <div class="field">
    <%= f.label :Service_id %><br>
    <%= f.text_field :Service_id %>
  </div>
  <div class="field">
    <%= f.label :ServiceStatus_id %><br>
    <%= f.text_field :ServiceStatus_id %>
  </div>
  <div class="field">
    <%= f.label :Employee_id %><br>
    <%= f.text_field :Employee_id %>
  </div>
  <div class="field">
    <%= f.label :Part_id %><br>
    <%= f.text_field :Part_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
