<h1>Service Lines</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Hour</th>
      <th>Note</th>
      <th>Ticket</th>
      <th>Service</th>
      <th>Servicestatus</th>
      <th>Employee</th>
      <th>Part</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_lines.each do |service_line| %>
      <tr>
        <td><%= service_line.hour %></td>
        <td><%= service_line.note %></td>
        <td><%= service_line.Ticket %></td>
        <td><%= service_line.Service %></td>
        <td><%= service_line.ServiceStatus %></td>
        <td><%= service_line.Employee %></td>
        <td><%= service_line.Part %></td>
        <td><%= link_to 'Show', service_line %></td>
        <td><%= link_to 'Edit', edit_service_line_path(service_line) %></td>
        <td><%= link_to 'Destroy', service_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service line', new_service_line_path %>
