<p id="notice"><%= notice %></p>

<p>
  <strong>Hour:</strong>
  <%= @service_line.hour %>
</p>

<p>
  <strong>Note:</strong>
  <%= @service_line.note %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @service_line.Ticket %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service_line.Service %>
</p>

<p>
  <strong>Servicestatus:</strong>
  <%= @service_line.ServiceStatus %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @service_line.Employee %>
</p>

<p>
  <strong>Part:</strong>
  <%= @service_line.Part %>
</p>

<%= link_to 'Edit', edit_service_line_path(@service_line) %> |
<%= link_to 'Back', service_lines_path %>
