<h1>Tickets</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Note</th>
      <th>Vehicle</th>
      <th>Ticketstatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.note %></td>
        <td><%= ticket.vehicle %></td>
        <td><%= ticket.TicketStatus %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
