<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @ticket.note %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @ticket.vehicle %>
</p>

<p>
  <strong>Ticketstatus:</strong>
  <%= @ticket.TicketStatus %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
