<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @ticket_status.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket_status.description %>
</p>

<%= link_to 'Edit', edit_ticket_status_path(@ticket_status) %> |
<%= link_to 'Back', ticket_statuses_path %>
