<%= form_for(@service_status) do |f| %>
  <% if @service_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_status.errors.count, "error") %> prohibited this service_status from being saved:</h2>

      <ul>
      <% @service_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
