<h1>Service Statuses</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_statuses.each do |service_status| %>
      <tr>
        <td><%= service_status.status %></td>
        <td><%= service_status.description %></td>
        <td><%= link_to 'Show', service_status %></td>
        <td><%= link_to 'Edit', edit_service_status_path(service_status) %></td>
        <td><%= link_to 'Destroy', service_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service status', new_service_status_path %>
