<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @service_status.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service_status.description %>
</p>

<%= link_to 'Edit', edit_service_status_path(@service_status) %> |
<%= link_to 'Back', service_statuses_path %>
