
<header class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="sr-only">
          Toggle navigation
        </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><%= image_tag('Logo2.png', class: 'brand',
                                    style:'padding: 0', alt:'Absolute Suspension' )%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", controller: "/pages", action: "home" %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Customer
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Customers", controller: "/customers", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Vehicle
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Vehicles", controller: "/vehicles", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Employee
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Employees", controller: "/employees", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Service
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Service Categories", controller: "/categories", action: "index" %></li>
                <li><%= link_to "Services", controller: "/services", action: "index" %></li>
                <li><%= link_to "Parts", controller: "/parts", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Ticket
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Tickets", controller: "/tickets", action: "index" %></li>
                <li><%= link_to "Ticket Statuses", controller: "/ticket_statuses", action: "index" %></li>
                <li><%= link_to "Service Line", controller: "/service_lines", action: "index" %></li>
                <li><%= link_to "Service Line Statuses", controller: "/service_statuses", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Report
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Employees Report", '#' %></li>
              </ul>
            </li>

          </ul>
          <ul class="nav navbar-nav">
            <li>
              <% if user_signed_in? %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                      <%= current_user.email.humanize %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li> <%= link_to "Account Info", edit_user_registration_path, :class => 'navbar-link' %></li>
                      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                    </ul>
                  </li>
              <% else %>
                  <li clas="dropdown">
                    <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                      Sign in<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li> <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
                      <li><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %></li>
                    </ul>
                  </li>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </div>
 </header>